<h1>Seven Digital</h1><h4><%= link_to '测试平台入口', 'home' %>(开发中)</h4>
<hr/>
<p>公司简介：</p>
<p>我们能做什么?</p>
<li>帮助您建设自己网站</li>
<li>资料的结构化标注</li>
<li>制作epub电子书</li>

<p>我们的优势:</p>
<li>专业</li>
<li>认真</li>
<li>廉价</li>

<p>联系我们</p>
<address>
<li>Email: <a href='mailto:guyanbiao@gmail.com'>guyanbiao@gmail.com</a></li>
<li>Phone: 15011746874  020-36482418</li>
</address>
